{% extends 'index.html' %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block content %}
<div   class="container">

<div class="bgsignup">
    <form method="POST">
        {%csrf_token%}
    <div class="form-group signup">
        <h2>Sign up</h2>
        <label class="labelform" for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username|add_class:'form-control' }}
        <label class="labelform" for="{{ form.phone_number.id_for_label }}">Phone:</label>
        {{ form.phone_number|add_class:'form-control' }}
        <label class="labelform" for="{{ form.password1.id_for_label }}">Password:</label>
        {{ form.password1|add_class:'form-control' }}
        <label class="labelform" for="{{ form.password2.id_for_label }}">Confirm password:</label>
        {{ form.password2|add_class:'form-control' }}
        <button type="submit" class="btn btn-primary">Sign up</button>  
        <p>already have an account? <a href="/login/">Login</a> </p>
    </div>
      
    </form>
</div>
</div>
{% endblock %}
</body>
</html>
