{%extends 'index.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    {%block content%}
    {%for i in a%}
      <div  class="container">
        <div class="main-video">
        <video class="video" id="videoElementID"class="videostyle" src="{{i.video_file.url}}" width="100%" height="200px" controls></video>
        <h1>{{i.title}}</h1>
        </div>
        
      </div>
      {%endfor%}
    

      
      
      
  <script>

    $(document).ready(function(){
      $('#videoElementID').bind('contextmenu',function() { return false; });
   });
  </script>
  
  {%endblock%}
</body>
</html>